:root {
    --bgc-01: hsl(0, 0%, 0%);
    --bgc-02: hsl(0, 0%, 100%);
    --txt-01: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

section {
    margin-bottom: 5rem;
}

h1{
	color: #ffffff;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12mm;
}

h2{
	font-size: 5mm;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    padding-left: 3.1cm;
    font-size: 8mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h4{
    padding-left: 0.4cm;
    padding-bottom: 10mm;
    font-size: 12mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5{
    padding-left: 4.5cm;
    font-size: 8mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h6{
    padding-left: 4.7cm;
    font-size: 8mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    width: 100%;
    padding: 10px;
    background-color: rgb(25, 25, 25);
}

header input {
    background-color: azure;
}

header i {
    margin-left: 20px;
    font-size: medium;
}

header nav li {
    display: contents;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a {
    font-size: 130%;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main a{
    text-decoration: none;
    color: #fff;
    font-size: 2.3ch;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
	padding: 10px;
}

main h1{
    padding-left: 0cm;
    font-size: 8mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img{
    padding-top: 2.5cm;
    padding-left: 1cm;
    width:700px
}

section h1{
    padding-left: 0cm;
    font-size: 8mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

section h2{
    padding-left: 4.5cm;
    font-size: 8mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: rgb(24, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer a {
    font-size: 110%;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border-radius: 4px;
    background-color: #1ef46c;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }